<!DOCTYPE html>
<html>
    <head>
      <link type="text/css" href="/public/style/style.css">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, 
      initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>111505-infield_screen</title>
    </head>

    <style>
      /* 整體美化和排版 */
    body{
      height: 730px;
      background-color: grey;
      background-size: 300px;
      font-family: "Roboto",sans-serif;
      background-image: url("sushi.gif");
      background-repeat: no-repeat;
      background-position: right top;
      font-weight:bold;
      display: grid;
      border: solid;
      overflow-x: hidden;
    }
    /* 部分排版 */
    .item2 {
      display: grid;
      grid-template-columns: 75px 1fr ;
    }
    .sample {
      display: grid;
      grid-template-columns: 350px 350px 350px 350px;
    }
    #container{
    width: auto;
    height: auto;
    display: flex;
    }

    td {
    padding: 5px;
    font-size: 30px;
        }

    .lineHeight{
      line-height: 2;
      letter-spacing: 3px;
      font-family: DFKai-sb;
    }

    .lineHeightmin{
      line-height: 2;
      letter-spacing: 3px;
      font-family: DFKai-sb;
      color: rgb(255, 255, 255);

    }



    
    </style>

    <body>
      
        <div id="container">
          <img src="logo.PNG" style="width: 300px; height:250px; margin-top: 50px;">
            <div id="item2" class="item2">
            <br>
              <table id="sample" class="sample">
                <tr>            
                  <% if (amount1 < 10) {%>
                    <td class = lineHeightmin width = "50%"><%=name1%></td> 
                    <td class = lineHeightmin width = "25%"><%=amount1%></td>
                  <% }else { %>
                    <td class = lineHeight width = "50%"><%=name1%></td> 
                    <td  class = lineHeight width = "25%"><%=amount1%></td>
                  <% } %>

                </tr>
                <tr>
                  <% if (amount2 < 10) {%>
                    <td class = lineHeightmin><%=name2%></td>
                    <td class = lineHeightmin><%=amount2%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name2%></td>
                  <td class = lineHeight><%=amount2%></td>
                  <% } %>
                </tr>
                <tr>
                  <% if (amount3 < 10) {%>
                    <td class = lineHeightmin><%=name3%></td>
                    <td class = lineHeightmin width = "25%""><%=amount3%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name3%></td>
                    <td  class = lineHeight width = "25%""><%=amount3%></td>
                  <% } %>
                </tr>
                <tr>
                  <% if (amount4 < 10) {%>
                    <td class = lineHeightmin><%=name4%></td>
                    <td class = lineHeightmin width = "25%""><%=amount4%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name4%></td>
                    <td  class = lineHeight width = "25%""><%=amount4%></td>
                  <% } %>
                </tr>
                <tr>                  
                  <% if (amount5 < 10) {%>
                    <td class = lineHeightmin><%=name5%></td>
                    <td class = lineHeightmin width = "25%""><%=amount5%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name5%></td>
                    <td  class = lineHeight width = "25%""><%=amount5%></td>
                  <% } %>
                </tr>
                <tr>                  
                  <% if (amount6 < 10) {%>
                    <td class = lineHeightmin><%=name6%></td>
                    <td class = lineHeightmin width = "25%""><%=amount6%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name6%></td>
                    <td  class = lineHeight width = "25%""><%=amount6%></td>
                  <% } %>
                </tr>
                <tr>                  
                  <% if (amount7 < 10) {%>
                    <td class = lineHeightmin><%=name7%></td>
                    <td class = lineHeightmin width = "25%""><%=amount7%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name7%></td>
                    <td  class = lineHeight width = "25%""><%=amount7%></td>
                  <% } %>
                </tr>

                <tr>                  
                  <% if (amount8 < 10) {%>
                    <td class = lineHeightmin><%=name8%></td>
                    <td class = lineHeightmin width = "25%""><%=amount8%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name8%></td>
                    <td  class = lineHeight width = "25%""><%=amount8%></td>
                  <% } %>
                </tr>

                <tr>                  
                  <% if (amount9 < 10) {%>
                    <td class = lineHeightmin><%=name9%></td>
                    <td class = lineHeightmin width = "25%""><%=amount9%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name9%></td>
                    <td  class = lineHeight width = "25%""><%=amount9%></td>
                  <% } %>
                </tr>

                <tr>                  
                  <% if (amount10 < 10) {%>
                    <td class = lineHeightmin><%=name10%></td>
                    <td class = lineHeightmin width = "25%""><%=amount10%></td>
                  <% }else { %>
                    <td class = lineHeight><%=name10%></td>
                    <td  class = lineHeight width = "25%""><%=amount10%></td>
                  <% } %>
                </tr>
              </table>
            </div>
          </div>
    </body>
</html>